@import "variables";
@import "mixins";

body {
  background-color: powderblue;
}

main {
  & > .container {
    // & - ссылка на родителя, чтобы не писать main > .container
    // > - если .container идет сразу после открытия main, то стили применятся, иначе нет
    padding: 60px 15px 0;
  }
}

.carousel-item {
  height: 400px;
  overflow: hidden;
  & > img {
    object-fit: cover;
  }
}

.card {
  &-data {
    max-height: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-title, &-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

  }
  &-title {
    @include line-clamp(1);
  }
  &-text {
    @include line-clamp(3);
  }
}

.info-about-city {
  background-color: white;
  border: 1px solid $gray_black;
  border-radius: 11px;

  & > .text {
    padding: 15px;
    text-align: justify;
  }
}

.left-sidebar {
  top: 50%;
  left: 50%;
}

.container {
  & + .feedback :hover :only-child {
    cursor: pointer;
  }
}
input :required {
  border-color: red;
}

.input-control {
  display: flex;
  flex-direction: column;
  & > input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }
  &.success input {
    border-color: #09c372;
  }
  &.error input {
    border-color: #ff3860;
  }
  & .error {
    color: #ff3860;
    font-size: 16px;
    height: 13px;
  }
}

